* {
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}

:root {
    --bg: #F1F1F1;
    --aqua: #7DE2D1;
    --dark-aqua: #339989;
    --fore-light: #2B2C28;
    --fore-dark: #131515;
}

#app {
    background-color: var(--bg);
    min-height: 100vh;
}