.create-plan-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
        4px 4px 4px rgba(255, 255, 255, 0.25) inset;
    padding: 20px;

    text-align: center;
    color: var(--fore-dark);
}

.create-plan-section button {
    width: 100px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    font-weight: 600;
}