.plan-section {
    flex-direction: row;
    justify-content: space-between;
}

.plan-section input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.plan-section label {
    display: block;
    width: 80%;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: 0.15s;
}

.plan-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.plan-section input[type="radio"]:checked + label {
    background-color: var(--aqua);
}

.top-lside-plans {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.top-lside-plans button {
    width: 20px;
    height: 20px;
}

.top-lside-plans button:not(:disabled) {
    cursor: pointer;
}

.rside-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
}