.signup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.signup-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 650px;
    background-color: var(--bg);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(255, 255, 255, 1) inset;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 50px;
    gap: 250px;
}

.signup-mode-button {
    color: var(--fore-light);
    border: 0px;
    width: 140px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;

    font-size: 20px;
    transition: 0.2s;
}

.mode-active {
    color: var(--fore-dark);
    border: 1px solid var(--fore-dark);
    cursor: auto;
}

.mode-active:hover {
    background-color: var(--bg);
}

.signup-form, .login-form {
    display: flex;
    width: 50%;
    justify-content: center;
    flex: 1;
    padding-bottom: 80px;
}

.signup-form form, .login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form form button, .login-form form button {
    width: 35%;
    align-self: center;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--aqua);
    border: 0px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.signup-form form button:hover, .login-form form button:hover {
    background-color: var(--dark-aqua);
    transform: translateY(-3px);
}

.login-form label, .signup-form label {
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 3px;
}

.login-form input, .signup-form input {
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(255, 255, 255, 0.25) inset;
}

.signup-window .error-text {
    color: red;
    text-align: center;
    margin-top: 25px;
}

@media (max-width: 800px) {
    .signup-window {
        width: 90%;
        height: auto;
    }

    .signup-top-section {
        flex-direction: column;
        gap: 20px;
    }

    .signup-form, .login-form {
        width: 80%;
    }

    .login-form input, .signup-form input {
        width: 100%;
    }
}