.today-overview {
    flex-direction: row;
    justify-content: space-between;
}

.lside-today {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.rside-today {
    width: 50%;
}

.today-overview select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}